<%= form_with(model: sila, local: true) do |form| %>
  <% if sila.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sila.errors.count, "error") %> prohibited this sila from being saved:</h2>

      <ul>
        <% sila.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sila-id %>
    <%= form.text_field :sila-id %>
  </div>

  <div class="field">
    <%= form.label :ampel-id %>
    <%= form.text_field :ampel-id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
