<p id="notice"><%= notice %></p>

<h1>Sila lights</h1>
<div>
  <p>There are <%= @silas.count %> lights registered, and we have found <%= @lights_count %> lights on the portal.</p>
</div>

<table class="table mt-3">
  <thead>
    <tr class="first">
      <th class="id">#</th>
      <th>Sila ID</th>
      <th>Ampel ID</th>
      <th>Light type</th>
      <th>Error code</th>
      <th>Last seen</th>
      <th>Location</th>
      <th>Online</th>
      <th class="last">Battery</th>
      <th colspan="3" class="last"></th>
    </tr>
  </thead>

  <tbody>
    <% if @silas.empty? %>
      <tr><td>No lights found</td></tr>
    <% else %>
      <% @silas.each do |light| %>
        <tr class="">
          <td><%= light.id %></td>
          <td><%= helper_sila_or_ampel_id(light.sila_id) %></td>
          <td><%= helper_sila_or_ampel_id(light.ampel_id) %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="last"></td>
          <td>
            <div class="btn-group">
              <%= link_to "Inspect", "#", class: "btn btn-main pl-2 pr-2 pt-1 pd-1" %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


