<p id="notice"><%= notice %></p>

<p>
  <strong>Sila-id:</strong>
  <%= @sila.sila-id %>
</p>

<p>
  <strong>Ampel-id:</strong>
  <%= @sila.ampel-id %>
</p>

<%= link_to 'Edit', edit_sila_path(@sila) %> |
<%= link_to 'Back', silas_path %>
