input, button, submit { border: none; }

.btn {
  box-shadow: inset 1px 1px 3px $shadow-color-inset, 5px 5px 5px $shadow-color-outset;
  cursor: pointer;
  font-weight: bolder;
}


.btn-group {

}

.btn-group-vertical {

}

.btn-main {
  color: white !important;
  background-color: $color-blueish;
  -webkit-transition: background-color $transition-time linear, color $transition-time linear;
  -ms-transition: background-color $transition-time linear, color $transition-time linear;
  transition: background-color $transition-time linear, color $transition-time linear;
  &:hover {
    font-weight: bold;
    background-color: $color-whiteish;
    color: $color-blueish;
  }
}

.btn-dark {
  color: $color-whiteish;
  background-color: $background-color-second;
  -webkit-transition: background-color $transition-time linear, color $transition-time linear;
  -ms-transition: background-color $transition-time linear, color $transition-time linear;
  transition: background-color $transition-time linear, color $transition-time linear;
}

.btn-dark:hover {
  font-weight: bold;
  background-color: $background-color;
  color: $text-heading-color;
}
