@mixin standard-flash-text {
  padding-top: $size-3;
  padding-bottom: $size-3;
  color: $light;
}

.flash {
  text-align: center;
  margin-bottom: $size-3;

  .notice {
    @include standard-flash-text;
    background: $color-greenish;
    box-shadow: 5px 5px 5px $color-greenish-shadow, inset 1px 1px 3px $color-greenish-shadow-inset;
  }

  .alert {
    @include standard-flash-text;
    background: $color-redish;
    box-shadow: 5px 5px 5px $color-redish-shadow, inset 1px 1px 3px $color-redish-shadow-inset;
  }
}



