.form {
  padding: 10px;
}

input[type="file"] {
    display: none;
}

.file-field {
  text-align: center;
  padding: 50px 0 50px 0;
  box-shadow: inset 1px 1px 3px $shadow-color-inset, 1px 1px 3px $shadow-color-outset;
  cursor: pointer;
}
