.sidebar {
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $background-color-second;
  overflow-x: hidden;
  padding-top: 20px;

  .sidebar-title {
    h1 {
      color: $light;
      font-size: $font-size-35;
      padding-left: $size-4;
      padding-bottom: $size-3;
      cursor: default;
    }
  }
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  font-size: $font-size-25;
  color: $light;
  display: block;
  font-family: Monaco;
  margin-left: 5px;
  margin-right: 5px;

  background-color: $background-color-second;
  -webkit-transition: background-color $transition-time-half linear, color $transition-time-half linear;
  -ms-transition: background-color $transition-time-half linear, color $transition-time-half linear;
  transition: background-color $transition-time-half linear, color $transition-time-half linear;
}

.sidebar a:hover {
  color: $text-heading-color;
  background-color: $background-color;
}

.content {
  margin-left: $sidebar-width;
  padding: 20px 20px;
}
