.full-width { width: 100%; }
.background { background-color: $background-color; }
.background-second { background-color: $background-color-second; color: $color-blackish; }
.shadow-inset { box-shadow: 1px 1px 3px $shadow-color-inset; }
.shadow-outset { box-shadow: 5px 5px 3px $shadow-color-outset; }

$size-0: 0;
$size-1: .25rem;
$size-2: .5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;

.p-0 { padding: $size-0; }
.p-1 { padding: $size-1; }
.p-2 { padding: $size-2; }
.p-3 { padding: $size-3; }
.p-4 { padding: $size-4; }
.p-5 { padding: $size-5; }
.p-auto { padding: auto;}

.m-0 { margin: $size-0;}
.m-1 { margin: $size-1;}
.m-2 { margin: $size-2;}
.m-3 { margin: $size-3;}
.m-4 { margin: $size-4;}
.m-5 { margin: $size-5;}
.m-auto { margin: auto;}

.pt-0 { padding-top: $size-0; }
.pt-1 { padding-top: $size-1; }
.pt-2 { padding-top: $size-2; }
.pt-3 { padding-top: $size-3; }
.pt-4 { padding-top: $size-4; }
.pt-5 { padding-top: $size-5; }
.pt-auto { padding-top: auto }

.mt-0 { margin-top: $size-0; }
.mt-1 { margin-top: $size-1; }
.mt-2 { margin-top: $size-2; }
.mt-3 { margin-top: $size-3; }
.mt-4 { margin-top: $size-4; }
.mt-5 { margin-top: $size-5; }
.mt-auto { margin-top: auto; }

.pl-0 { padding-left: $size-0; }
.pl-1 { padding-left: $size-1; }
.pl-2 { padding-left: $size-2; }
.pl-3 { padding-left: $size-3; }
.pl-4 { padding-left: $size-4; }
.pl-5 { padding-left: $size-5; }
.pl-auto { padding-left: auto; }

.ml-0 { margin-left: $size-0; }
.ml-1 { margin-left: $size-1; }
.ml-2 { margin-left: $size-2; }
.ml-3 { margin-left: $size-3; }
.ml-4 { margin-left: $size-4; }
.ml-5 { margin-left: $size-5; }
.ml-auto { margin-left: auto; }

.pd-0 { padding-bottom: $size-0 }
.pd-1 { padding-bottom: $size-1 }
.pd-2 { padding-bottom: $size-2 }
.pd-3 { padding-bottom: $size-3 }
.pd-4 { padding-bottom: $size-4 }
.pd-5 { padding-bottom: $size-5 }
.pd-auto { padding-bottom: auto }

.md-0 { margin-bottom: $size-0 }
.md-1 { margin-bottom: $size-1 }
.md-2 { margin-bottom: $size-2 }
.md-3 { margin-bottom: $size-3 }
.md-4 { margin-bottom: $size-4 }
.md-5 { margin-bottom: $size-5 }
.md-auto { margin-bottom: auto }

.pr-0 { padding-right: $size-0 }
.pr-1 { padding-right: $size-1 }
.pr-2 { padding-right: $size-2 }
.pr-3 { padding-right: $size-3 }
.pr-4 { padding-right: $size-4 }
.pr-5 { padding-right: $size-5 }
.pr-auto { padding-right: auto }

.mr-0 { margin-right: $size-0 }
.mr-1 { margin-right: $size-1 }
.mr-2 { margin-right: $size-2 }
.mr-3 { margin-right: $size-3 }
.mr-4 { margin-right: $size-4 }
.mr-5 { margin-right: $size-5 }
.mr-auto { margin-right: auto }
