/* Widths */
$sidebar-width: 260px;
$width-20: 20px;
$width-40: 40px;
$width-200: 200px;

$radius-standard: 2px;

/* font-sizes */
$font-size-18: 18px;
$font-size-25: 25px;
$font-size-35: 35px;

/* Colors */
$color-blueish: #487895;
$color-blueish-shadow: #4878956e;
$color-blueish-shadow-inset: #3c6f8e;
$color-whiteish: #f2f2f2;
$color-blackish: #373737;
$color-blackish-shadow: #3737376e;
$color-greenish: #009339;
$color-greenish-shadow: #00933961;
$color-greenish-shadow-inset: #006828;
$color-redish: #e35454;
$color-redish-shadow: #e354544d;
$color-redish-shadow-inset: #f04141;

/* Transition variables */
$transition-time: 300ms;
$transition-time-double: $transition-time*2;
$transition-time-half: $transition-time/2;
$transition-time-quarter: $transition-time/4;

/* Theming */
$dark: $color-blueish;
$light: $color-whiteish;

$shadow-color-inset: $color-blackish-shadow;
$shadow-color-outset: $color-blueish-shadow;

/* THEME COLOR SCHEME CHANGER */
$text-heading-color: $dark;
$text-color: $color-blackish; /* if background is dark, then change to $light / $color-whitish */
$background-color: $light;
$background-color-second: $dark;

$text-sidebar-color: $light;

$btn-main-background-color: $dark;
$btn-main-text-color: $light;


