<div class="sidebar-title">
  <h1>Sila lights</h1>
</div>
<div class="sidebar-menu">
  <%= link_to "All ligths", root_path %>
  <% @silas.each do | sila | %>
    <%= link_to "#{ sila.sila_id }", "#", class: "small" %>
  <% end %>
</div>
