<!DOCTYPE html>
<html>
  <head>
    <title>Sila lights</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="sidebar">
      <%= render 'layouts/partials/sidebar' %>
    </div>
    <div class="content">
      <%= render 'layouts/partials/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
